@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));

.scrollbar-none {
	-ms-overflow-style: none; /* IE/old Edge */
	scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
	display: none; /* Chrome/Safari/Edge (Chromium) */
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(205.7143 13.7255% 10%);
	--card: hsl(180 6.6667% 97.0588%);
	--card-foreground: hsl(205.7143 13.7255% 10%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(205.7143 13.7255% 10%);
	--primary: hsl(204.0945 53.1381% 53.1373%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(205.7143 13.7255% 10%);
	--secondary-foreground: hsl(0 0% 100%);
	--muted: hsl(240 1.9608% 90%);
	--muted-foreground: hsl(223.8136 0% 45.1519%);
	--accent: hsl(212.7273 29.7297% 92.7451%);
	--accent-foreground: hsl(204.0945 53.1381% 53.1373%);
	--destructive: hsl(356.2205 54.5064% 54.3137%);
	--destructive-foreground: hsl(0 0% 100%);
	--border: hsl(202.5 17.3913% 90.9804%);
	--input: hsl(180 7.6923% 97.451%);
	--ring: hsl(202.6772 53.1381% 53.1373%);
	--chart-1: hsl(204.0945 53.1381% 53.1373%);
	--chart-2: hsl(159.8182 59.7826% 36.0784%);
	--chart-3: hsl(41.76 56.0538% 56.2745%);
	--chart-4: hsl(147 46.729% 41.9608%);
	--chart-5: hsl(341.7857 44.8% 50.9804%);
	--sidebar: hsl(180 6.6667% 97.0588%);
	--sidebar-foreground: hsl(205.7143 13.7255% 10%);
	--sidebar-primary: hsl(204.0945 53.1381% 53.1373%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(212.7273 29.7297% 92.7451%);
	--sidebar-accent-foreground: hsl(204.0945 53.1381% 53.1373%);
	--sidebar-border: hsl(202.5 16.6667% 90.5882%);
	--sidebar-ring: hsl(202.6772 53.1381% 53.1373%);
	--font-sans: Open Sans, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 0.85rem;
	--shadow-2xs: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.21);
	--shadow-xs: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.21);
	--shadow-sm: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.43),
		2.5px 1px 2px -13px hsl(240.0968 4.4107% 46.3367% / 0.43);
	--shadow: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.43),
		2.5px 1px 2px -13px hsl(240.0968 4.4107% 46.3367% / 0.43);
	--shadow-md: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.43),
		2.5px 2px 4px -13px hsl(240.0968 4.4107% 46.3367% / 0.43);
	--shadow-lg: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.43),
		2.5px 4px 6px -13px hsl(240.0968 4.4107% 46.3367% / 0.43);
	--shadow-xl: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 0.43),
		2.5px 8px 10px -13px hsl(240.0968 4.4107% 46.3367% / 0.43);
	--shadow-2xl: 2.5px 7.5px 17px -12px hsl(240.0968 4.4107% 46.3367% / 1.07);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: hsl(0 0% 0%);
	--foreground: hsl(180 2.2222% 91.1765%);
	--card: hsl(220 5.8824% 10%);
	--card-foreground: hsl(0 0% 85.098%);
	--popover: hsl(0 0% 0%);
	--popover-foreground: hsl(180 2.2222% 91.1765%);
	--primary: hsl(203.9063 52.8926% 52.549%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(180 7.6923% 94.902%);
	--secondary-foreground: hsl(205.7143 13.7255% 10%);
	--muted: hsl(240.1022 11.2443% 3.9839%);
	--muted-foreground: hsl(210 1.6949% 46.2745%);
	--accent: hsl(205.7143 41.1765% 10%);
	--accent-foreground: hsl(203.9063 52.8926% 52.549%);
	--destructive: hsl(356.2205 54.5064% 54.3137%);
	--destructive-foreground: hsl(0 0% 100%);
	--border: hsl(240.0173 6.0307% 9.9812%);
	--input: hsl(240.0761 5.7134% 64.2961%);
	--ring: hsl(199.3513 140.2821% 27.48%);
	--chart-1: hsl(204.0945 53.1381% 53.1373%);
	--chart-2: hsl(159.8182 59.7826% 36.0784%);
	--chart-3: hsl(41.76 56.0538% 56.2745%);
	--chart-4: hsl(147 46.729% 41.9608%);
	--chart-5: hsl(341.7857 44.8% 50.9804%);
	--sidebar: hsl(220 5.8824% 10%);
	--sidebar-foreground: hsl(0 0% 85.098%);
	--sidebar-primary: hsl(202.6772 53.1381% 53.1373%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(205.7143 41.1765% 10%);
	--sidebar-accent-foreground: hsl(203.9063 52.8926% 52.549%);
	--sidebar-border: hsl(207.6923 9.7744% 26.0784%);
	--sidebar-ring: hsl(202.6772 53.1381% 53.1373%);
	--font-sans: Open Sans, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 0.85rem;
	--shadow-2xs: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.21);
	--shadow-xs: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.21);
	--shadow-sm: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.43),
		2.5px 1px 2px -13px hsl(240.1341 6.0037% 34.1599% / 0.43);
	--shadow: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.43),
		2.5px 1px 2px -13px hsl(240.1341 6.0037% 34.1599% / 0.43);
	--shadow-md: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.43),
		2.5px 2px 4px -13px hsl(240.1341 6.0037% 34.1599% / 0.43);
	--shadow-lg: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.43),
		2.5px 4px 6px -13px hsl(240.1341 6.0037% 34.1599% / 0.43);
	--shadow-xl: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 0.43),
		2.5px 8px 10px -13px hsl(240.1341 6.0037% 34.1599% / 0.43);
	--shadow-2xl: 2.5px 7.5px 17px -12px hsl(240.1341 6.0037% 34.1599% / 1.07);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}
